
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", "sans-serif";
    text-decoration: none;
}
body {
    /* font-size: 12.8px; */
    margin: 0 10%;
    height: auto;
}
:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: #fffdfa;
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    height: 60px;
}
ul {
    width: 60%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
a {
    text-decoration: none;
}
a, p {
    color: var(--dark-grayish-blue);
}
a:hover {
    color: var(--soft-red);
}
/* main */
.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.hero {
    width: 68%;
    /* background-color: lightblue; */
}
/* hero */
.hero img {
    width: 100%;
}
.hero img:nth-child(2) {
    display: none;
}
.hero-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.bright {
    width: 50%;
}
.bright h1 {
    font-weight: 800;
    font-size: 3rem;
    color: var(--very-dark-blue);
}
.read-more {
    width: 50%;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    width: 50%;
    background-color: var(--soft-red);
    color: var(--off-white);
    outline: none;
    padding: 14px;
    border: none;
}
button a {
    color: var(--off-white);
}
button:hover {
    background-color: var(--very-dark-blue);
    cursor: pointer;
}
/* news card */
.new {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--very-dark-blue);
}
.new-text {
    width: 90%;
}
.new-text p {
    font-size: 0.76rem;
}
.new h1{
    color: var(--soft-orange);
    align-self: flex-start;
    margin-left: 5%;
}
.new h3 {
    color: var(--off-white);
    font-size: 1rem;
}
.new-text>h3:hover {
    color: var(--soft-orange);
}
/* line */
hr {
    width: 90%;
    border: 1px solid var(--dark-grayish-blue);
    opacity: 30%;
}
/* footer section */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}
.footer-card {
    width: 33.33%;
    display: flex;
    justify-content: space-between;
}
.footer-card img {
    width: 30%;
}
.footer-card-text {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-card-text h1 {
    color: var(--grayish-blue);
}
.footer-card-text h3 {
    color: var(--very-dark-blue);
    font-size: 0.8rem;
    font-weight: 800;
}
.footer-card-text p {
    font-size: 0.8rem;
    font-weight: 400;
}
.footer-card-text>h3:hover{
    color: var(--soft-red);
}

.menu {
    display: none;
}
/* media query */
@media (max-width:778px) {
    ul{
        display: none;
    }
    .menu {
        display: block;
    }
    .hero img:nth-child(1) {
        display: none;
    }
    .hero img:nth-child(2) {
        display: block;
    }
    .hero, .new, .bright, .read-more {
        width: 100%;
    }
    .new {
        height: 480px;
        margin-top: 2rem;
    }
    .new p {
        font-size: 1rem;
    }
    .main, .hero-content, .footer {
        flex-direction: column;
        gap: 20px;
    }
    .footer-card {
        width: 100%;
    }
    button {
        margin-top: 1rem;
    }
    nav img:nth-child(3) {
        display: none;
    }
    nav img:nth-child(2) {
        display: block;
    }
}